@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    @apply border-4;
    @apply border-solid;
    @apply border-black;
    @apply rounded-3xl;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500
  }

  .innerScrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    @apply bg-sky-600
  }
  
  /*
  .innerScrollbar::-webkit-scrollbar * {
    @apply bg-red-500;
    @apply absolute;
  }
* */

  .innerScrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    @apply border-4;
    @apply border-gray-600;
    @apply rounded-3xl;
  }

  .innerScrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}

/*
html {
    overflow: auto;
}
body {
    overflow: scroll;
}
.testScroll::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
.testScroll::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0.4);
}
.testScroll::-webkit-resizer,
.testScroll::-webkit-scrollbar-button,
.testScroll::-webkit-scrollbar-corner { display: none; }
*/
